<ion-view title="Finger Scan" hide-nav-bar="true" id="page3" style="background-color:#131313;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 20px;"></div>
    <h1 id="fingerScan-heading4" style="color:#C2C2C2;text-align:center;">Scan Finger</h1>
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="fingerScan-heading7" style="color:#C2C2C2;text-align:center;">Paying ₹ 342.50</h4>
    <div>
      <img src="img/64wdxLduTeWHbwsCOZIx_fingerprint2.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <a ui-sref="payCode()" id="fingerScan-button5" style="font-weight:500;" class="button button-balanced button-block icon-right ion-ios-arrow-thin-right">Next</a>
    <a ui-sref="mobileNumber()" id="fingerScan-button7" class="button button-stable button-block button-clear">Go Back</a>
  </ion-content>
</ion-view>