<ion-view title="OTP Verification" hide-nav-bar="true" id="page8">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 20px;"></div>
    <h1 id="oTPVerification-heading10" style="color:#000000;">Enter OTP</h1>
    <div class="spacer" style="height: 40px;"></div>
    <form id="oTPVerification-form7" class="list">
      <label class="item item-input" id="oTPVerification-input10">
        <span class="input-label">OTP</span>
        <input type="number" placeholder="">
      </label>
    </form>
    <div class="spacer" style="height: 5px;"></div>
    <a ui-sref="registerFinger()" id="oTPVerification-button15" style="font-weight:500;" class="button button-balanced button-block icon-right ion-ios-arrow-thin-right">Next</a>
    <a ui-sref="registerUser()" id="oTPVerification-button16" class="button button-positive button-block button-clear">Go Back</a>
  </ion-content>
</ion-view>