<ion-view title="Pay Code" hide-nav-bar="true" id="page4">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 90px;"></div>
    <form id="payCode-form2" class="list">
      <div id="payCode-markdown3" class="show-list-numbers-and-dots">
        <p style="color:#6E6E6E;font-size:17px;">Paying
          <strong>₹ 342.50</strong>
        </p>
      </div>
      <h1 id="payCode-heading5" style="color:#6E6E6E;">Enter Pay Code</h1>
      <div class="spacer" style="height: 20px;"></div>
      <label class="item item-input" id="payCode-input2">
        <span class="input-label">Pay Code</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <div class="spacer" style="height: 5px;"></div>
    <a ui-sref="paymentComplete()" id="payCode-button6" style="font-weight:500;" class="button button-balanced button-block">Pay</a>
    <a ui-sref="fingerScan()" id="payCode-button11" class="button button-positive button-block button-clear">Go Back</a>
  </ion-content>
</ion-view>