<ion-view title="Payment Complete" hide-nav-bar="true" id="page6">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 120px;"></div>
    <div>
      <img src="img/ltybAeUqQqegOBVE3fxB_tick_mark.jpg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h2 id="paymentComplete-heading8" style="color:#000000;text-align:center;">Payment Complete</h2>
    <div class="spacer" style="height: 30px;"></div>
    <a ui-sref="digitusPaySeller()" id="paymentComplete-button12" class="button button-dark button-block button-clear">Go Home</a>
  </ion-content>
</ion-view>