<ion-view title="Register User" hide-nav-bar="true" id="page7">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 20px;"></div>
    <h1 id="registerUser-heading9" style="color:#000000;">Register New User</h1>
    <div class="spacer" style="height: 30px;"></div>
    <form id="registerUser-form6" class="list">
      <label class="item item-input" id="registerUser-input7">
        <span class="input-label">Full Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="registerUser-input8">
        <span class="input-label">Mobile Number</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="oTPVerification()" id="registerUser-button13" style="font-weight:500;" class="button button-balanced button-block icon-right ion-ios-arrow-thin-right">Next</a>
    <a ui-sref="digitusPaySeller()" id="registerUser-button14" class="button button-positive button-block button-clear">Go Back</a>
  </ion-content>
</ion-view>