<ion-view title="Register Finger" hide-nav-bar="true" id="page9" style="background-color:#131313;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 20px;"></div>
    <h1 id="registerFinger-heading11" style="color:#C2C2C2;text-align:center;">Register Finger</h1>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/64wdxLduTeWHbwsCOZIx_fingerprint2.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <a ui-sref="userRegistrationComplete()" id="registerFinger-button17" style="font-weight:500;" class="button button-balanced button-block icon-right ion-ios-arrow-thin-right">Next</a>
    <a ui-sref="oTPVerification()" id="registerFinger-button18" class="button button-stable button-block button-clear">Go Back</a>
  </ion-content>
</ion-view>